<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/img/title.png">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" class="small-image" onclick="showLargeImage()"  alt="OpenSVBRDF" />
          <div id="largeImage" class="large-image">
            <img src="{{site.logo | relative_url}}" onclick="hideLargeImage()" alt="OpenSVBRDF">
        </div>
        {% endif %}

        <p>{{ site.repo_description | default: site.github.project_tagline }}</p>

        {% if site.project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the paper on ACM <small>{{ site.platform }}</small></a></p>
        {% endif %}

        <!-- {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %} -->

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.database_page }}"><strong>Database</strong></a></li>
          <li><a href="{{ site.code_page }}"><strong>Code</strong></a></li>
          <li><a href="{{ site.challenges_page }}"><strong>Challenges</strong></a></li>
        </ul>
        {% endif %}
        
        {% if site.help_needed %}
        <div class="view help-needed" >
        <h2 class="view help_font">Help needed!</h2>
        {% endif %}
        <p class="view">
          Due to compliance with government regulations, the website to which we distribute our database may be unavailable from time to time.

          In order to provide everyone with a more consistent browsing experience, we are looking for volunteers to build a mirror website. We expect the volunteer to be able to host and distribute 15TB data.
          
          For anyone willing to help, email hwu at acm.org for more details.
        </p>
      </div>
      </header>
      
      <section> 

      {{ content }}

      </section> 
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script>
      function showLargeImage() {
        var largeImage = document.getElementById("largeImage");
        largeImage.style.display = "block";
      }
      function hideLargeImage() {
          var largeImage = document.getElementById("largeImage");
          largeImage.style.display = "none";
        }

    </script>
    
  </body>
</html>
